.texto, body, td, div { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.titulo, th { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }
