<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ProjetoDisciplina</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ServletAbrirPesquisa</display-name>
		<servlet-name>ServletAbrirPesquisa</servlet-name>
		<servlet-class>
		controle.ServletAbrirPesquisa</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletPesquisarDisciplina</display-name>
		<servlet-name>ServletPesquisarDisciplina</servlet-name>
		<servlet-class>
		controle.ServletPesquisarDisciplina</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletIncluirDisciplina</display-name>
		<servlet-name>ServletIncluirDisciplina</servlet-name>
		<servlet-class>
		controle.ServletIncluirDisciplina</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletAlterarDisciplina</display-name>
		<servlet-name>ServletAlterarDisciplina</servlet-name>
		<servlet-class>
		controle.ServletAlterarDisciplina</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletSalvarDisciplina</display-name>
		<servlet-name>ServletSalvarDisciplina</servlet-name>
		<servlet-class>
		controle.ServletSalvarDisciplina</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletExibirDisciplina</display-name>
		<servlet-name>ServletExibirDisciplina</servlet-name>
		<servlet-class>
		controle.ServletExibirDisciplina</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletExcluirDisciplina</display-name>
		<servlet-name>ServletExcluirDisciplina</servlet-name>
		<servlet-class>
		controle.ServletExcluirDisciplina</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAbrirPesquisa</servlet-name>
		<url-pattern>/abrirPesquisa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPesquisarDisciplina</servlet-name>
		<url-pattern>/pesquisarDisciplina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletIncluirDisciplina</servlet-name>
		<url-pattern>/incluirDisciplina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAlterarDisciplina</servlet-name>
		<url-pattern>/alterarDisciplina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletSalvarDisciplina</servlet-name>
		<url-pattern>/salvarDisciplina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletExibirDisciplina</servlet-name>
		<url-pattern>/exibirDisciplina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletExcluirDisciplina</servlet-name>
		<url-pattern>/excluirDisciplina</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
